<%- include("../partials/head", {tituloWeb: "Crear Producto Nuevo", cssstyle:
"/css/styles.css"})%>
<body>
  <!--HEADER -->
  <%- include("../partials/header") %>
  <!--CONTENIDO PRINCIPAL -->
  <section class="edit-section">
    <form class="form-edit" action="/" method="post">
      <h2 class="form-title">Formulario de Alta de Productos</h2>
      <div class="form-container">
        <div class="form-group">
          <input type="text" id='nombreProducto' required minlength="2" class="form-input" name='nombreProducto' placeholder=" "/>
          <label for="nombreProducto" class="form-label">Nombre del Producto</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <input type="text" id='user' required minlength="2" class="form-input" name="description" placeholder=" "/>
          <label for="description" class="form-label">Descripción</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <input type="text" id='price' class="form-input" name="price" placeholder=" "/>
          <label for='price' class='form-label'>Precio</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <input type="text" id='descuento' class="form-input" name="descuento" placeholder=" "/>
          <label for='derscuento' class='form-label'>Descuento</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">
          <select class="form-input" name="talla" id="talla">
            <option value="selectSize">Seleccionar Talla</option>
            <option value="size1">S</option>
            <option value="size2">M</option>
            <option value="size3">L</option>
          </select>
          <label for='talla' class='form-label'>Talla</label>
          <span class="form-line"></span>
        </div>
        <div class="form-group">              
        <input type="text" id='color'required minlength="3" class="form-input" name="color" placeholder=" "/>
          <label for='color' class='form-label'>Color</label>
          <span class="form-line"></span>
        </div>
        <input type="submit" class="form-submit" id="submit-register">
        <input type="reset" class="form-submit" id="reset-register">
      </div>
</section>
  <!--FOOTER -->
  <%- include("../partials/footer") %>
