<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bicis 7G</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <header heigth="100px">
            <h1>BIENVENIDOS A BICIS 7G</h1>
            <p class="texto-header">Pasión por las bicicletas</p>
            <img src="/img/img-header-2.jpg" class="center">
        </header>

        
        <main>
            <section>
                <img width="25%" src="/img/mtb-poly-t7-1.jpg" alt="info de imagen">
                <p>POLYGON SISKU T7</p>
                <p>U$D 2.100,00</p>
                <nav>
                    <ul type="square">
                        <li>Tipo: All Mountain / Trail</li>
                        <li>Horquilla: ROCKSHOX RECON RL BOOST 15X110MM, 150MM (27.5)</li>
                        <li>Shock: ROCKSHOX DELUXE PLUS SELECT SINTONIZACIÓN ESPECIAL E2E: 210X55MM, HARDWARE: 8MMX25MM</li>               
                    </ul>
                </nav>
            </section>
            <section>
                <h3>Texto h3</h3>
                <img width="25%" src="/img/mtb-poly-t8-1.jpg" alt="info de imagen">
                <p>Párrafo</p>                
            </section>
            <section>
                <h3>Texto h3</h3>
                <img width="25%" src="/img/mtb-poly-t7-2.jpg" alt="info de imagen">
                <p>Párrafo</p>                
            </section>
        </main>
        <footer>
            <h4>Texto h4</h4>
            <p>Párrafo de footer</p>            
        </footer>
    </body>
</html>