<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bicis 7G</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <img src="/img/mtb-poly-t7-1.jpg" alt="info de imagen">
            <p>Texto</p>
            <p>Texto</p>
            <nav>
                <ul type="disc">
                    <li>Texto de lista desordenada</li>
                    <li>Texto de lista desordenada</li>                  
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h3>Texto h3</h3>
                <img src="/img/mtb-poly-t8-1.jpg" alt="info de imagen">
                <p>Párrafo</p>                
            </section>
            <section>
                <h3>Texto h3</h3>
                <img src="/img/mtb-poly-t7-2.jpg" alt="info de imagen">
                <p>Párrafo</p>                
            </section>
        </main>
        <footer>
            <h4>Texto h4</h4>
            <p>Párrafo de footer</p>            
        </footer>
    </body>
</html>