<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bicis 7G</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9440e8cf98.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo7g2.jpg" class="logo" />
        <h2 class="copy-header">
          <i class="fa-solid fa-user"></i>
          Ingresa
        </h2>
      </div>

      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>
      <nav Class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Bicicletas</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#"> Servicios</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="#"
              >Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <!--==================== CONTENIDO PRINCIPAL ====================-->
    <main>
      <section class="bienvenida">
        <h1>BIENVENIDOS A BICIS 7G</h1>
        <img src="/img/img-header-2.jpg" class="center" />
      </section>
      <section class="oferta-de-productos">
        <article>
          <header>
            <h2 class="titulo-destacado">PRODUCTOS DESTACADOS</h2>
          </header>

          <ul class="lista-destacada">
            <li>
              <img src="/img/mtb-poly-t7-1.jpg" alt="info de imagen" />
              <p>POLYGON SISKU T7</p>
              <p>U$D 2.100,00</p>
            </li>
            <li>
              <img src="/img/mtb-poly-t8-1.jpg" alt="info de imagen" />
              <p>POLYGON SISKU T7</p>
              <p>U$D 2.100,00</p>
            </li>
            <li>
              <img src="/img/mtb-poly-t7-1.jpg" alt="info de imagen" />
              <p>POLYGON SISKU T7</p>
              <p>U$D 2.100,00</p>
            </li>
            <li>
              <img src="/img/mtb-poly-t7-1.jpg" alt="info de imagen" />
              <p>POLYGON SISKU T7</p>
              <p>U$D 2.100,00</p>
            </li>
          </ul>
        </article>
      </section>
    </main>
    <!--==================== FOOTER ====================-->
    <footer class="footer-section">
      <div class="footer-container">
        <div class="footer-content">
          <h3 class="footer-title">Informacion</h3>

          <ul class="footer-list">
            <li>Calle falsa 123</li>
            <li>Springfield</li>
            <li>1234-5678</li>
          </ul>
        </div>
        <div class="footer-content">
          <h3 class="footer-title">Sobre Nosotros</h3>
          <ul class="footer-links">
            <li>
              <a href="#" class="footer-link">Soporte</a>
            </li>
            <li>
              <a href="#" class="footer-link">Soporte de cliente</a>
            </li>
            <li>
              <a href="#" class="footer-link">Sobre nosotros</a>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <h3 class="footer-title">Productos</h3>

          <ul class="footer-links">
            <li>
              <a href="#" class="footer-link">Bicicletas</a>
            </li>
            <li>
              <a href="#" class="footer-link">Mountain bikes</a>
            </li>
            <li>
              <a href="#" class="footer-link">Electricas</a>
            </li>
          </ul>
        </div>
        <div class="footer-content">
          <h3 class="footer-title">Social</h3>
          <ul class="footer-social">
            <a href="https://www.facebook.com/" class="footer-social-link">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com/" class="footer-social-link">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" class="footer-social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
