<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bicis 7G</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles-login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9440e8cf98.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
        <img src="/img/img-header-2.jpg">
        <h1>BICIS 7G</h1>
    </header>
    <form action="/perfil-usuario" method="get" class="form-a">
      <div>
        <label class="form-salut">¡Hola!</label>
      </div>
      <div>
        <label class="form-salut">Ingresa tu usuario y contraseña</label>
      </div>
      <div class="form-div">
          <label>Usuario</label>
      </div>
      <div class="form-div">
          <input type="text" name="usuario">
      </div>
      <div class="form-div">
        <label>Contraseña</label>
      </div>
      <div class="form-div">
        <input type="password" name="password">
      </div>
      <div>
        <button class="boton-enter" type="submit">INGRESAR</button>
      </div>
    </form>
    <footer>
      <p>HACER FOOTER</p>
    </footer>
  </body>
</html>