/*-----------GENERAL----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
main section h1 {
  font-family: "Roboto", sans-serif;
}
/*-----------HEADER----------*/
.main-header-top-bar {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 110px;
  border-radius: 15px;
}
.copy-header {
  font-weight: 100;
  max-width: 350px;

  text-align: right;
  padding: 20px;
}
.copy-header a {
  color: black;
  text-decoration: none;
}
.main-navbar {
  display: none;
}
.searchicon {
  display: none;
}
.hamburguer-button {
  background-color: black;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}
.main-header {
  background-color: white;
  padding: 20px;
}
/*-----------MAIN  BIENVENIDA----------*/
.bienvenida {
  position: relative;
}
.bienvenida img {
  width: 100%;
  height: 100%;
}

.busqueda h2 {
  text-align: left;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-left: 110px;
  margin-top: 20px;
}
/*-----------PRODUCTOS----------*/
main {
  text-align: center;
  width: 100%;
}
body {
  background-color: white;
}
main section div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  background-color: white;
}
main section h3 {
  display: none;
}
.descuentos {
  padding: 10px;
  text-align: left;
  color: #39b54a;
}
.producto img {
  width: 100%;
  margin: 10px;
}
.producto {
  width: 310px;
  display: flex;
  margin: 20px;
}
.detalle-producto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: #ebebeb solid 1px;
  background-color: white;
}
main section .producto:hover h3 {
  display: block;
}
main section .producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.separacion {
  margin-bottom: 50px;
}
/*-----------FOOTER----------*/
.footer-container {
  display: flex;
  background-color: black;
  flex-direction: column;
  color: white;
  width: 100%;
}
.footer-content {
  justify-content: center;
  align-items: center;

  margin: 20px;
}
.footer-list li,
.footer-links li,
.footer-social a {
  display: none;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-social {
  display: flex;
  column-gap: 10px;
}
.footer-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: start;
}
.footer-container ul {
  list-style: none;
}
.footer-social-link {
  color: white;
}
/*-----------MEDIA QUERIES----------*/
@media (min-width: 480px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }
  .copy-header {
    max-width: 350px;
    text-align: right;
  }
  .vamosabuscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .producto img {
    flex-basis: 45%;
    margin: 10px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-list li,
  .footer-links li,
  .footer-social a {
    display: flex;
    flex-direction: row;
    row-gap: 0.75rem;
    text-decoration: none;
    justify-content: left;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }
  .copy-header {
    max-width: 350px;
    text-align: right;
  }
  .searchicon {
    display: inline-block;
  }
  .hamburguer-button {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }
  .vamosabuscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .producto img {
    flex-basis: 22%;
    margin: 10px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-list li,
  .footer-links li,
  .footer-social a {
    display: flex;
    flex-direction: row;
    row-gap: 0.75rem;
    text-decoration: none;
    justify-content: left;
    margin-top: 10px;
  }
}

@media (min-width: 1280px) {
  .logo {
    width: 80px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
    padding: 0px;
  }
  .main-header-top-bar {
    align-items: center;
  }
  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar {
    margin-top: 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
  .copy-header {
    max-width: none;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-list,
  .footer-links {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    text-decoration: none;
    justify-content: left;
    margin: 10px;
  }
}
