<footer class="footer-section">
    <div class="footer-container">
      <div class="footer-content">
        <h3 class="footer-title">Informacion</h3>
        <ul class="footer-list">
          <li>Calle falsa 123</li>
          <li>Springfield</li>
          <li>1234-5678</li>
        </ul>
      </div>
      <div class="footer-content">
        <h3 class="footer-title">Sobre Nosotros</h3>
        <ul class="footer-links">
          <li>
            <a href="#" class="footer-link">Servicios</a>
          </li>
          <li>
            <a href="#" class="footer-link">Atención al cliente</a>
          </li>
          <li>
            <a href="#" class="footer-link">Sobre nosotros</a>
          </li>
        </ul>
      </div>
      <div class="footer-content">
        <h3 class="footer-title">Productos</h3>

        <ul class="footer-links">
          <li>
            <a href="#" class="footer-link">Bicicletas</a>
          </li>
          <li>
            <a href="#" class="footer-link">Mountain bikes</a>
          </li>
          <li>
            <a href="#" class="footer-link">Electricas</a>
          </li>
        </ul>
      </div>
      <div class="footer-content">
        <h3 class="footer-title">Social</h3>
        <ul class="footer-social">
          <a href="https://www.facebook.com/" class="footer-social-link">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://twitter.com/" class="footer-social-link">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/" class="footer-social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>