<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo7g2.jpg" class="logo" /></a>
        <form class="searchicon">
            <input type="search" name="q" placeholder="Productos, marcas, servicios"></input>
            <input type="submit" value="Buscar" class="buscador">
        </form>
      <h2 class="copy-header">
        <i class="fa-solid fa-user"></i>
        <a href='/login'>Ingresa</a>
      </h2>
    </div>

    <a href="#" class="hamburguer-button"><i class="fa-solid fa-bars"></i></a>
    <nav Class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Bicicletas</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#"> Servicios</a></li>
      </ul>
      <ul class="right-navbar">
        <li>
          <a href="/productcart"
            >Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i
          ></a>
        </li>
      </ul>
    </nav>
</header>