<%- include("./partials/head", {tituloWeb: "REGISTRO - Bicis 7G", cssstyle: "/css/styles.css"})%>
<body class="not-found">
    <img src="/img/oops.jpg"/>
    <h1>Parece que esta pagina no existe </h1>
</body>
</html>