<%- include("template/head", {tituloWeb: "LOGIN - Bicis 7G", cssstyle: "/css/styles-login.css"})%> 
  <body>
<!--HEADER -->
<%- include("template/header-log-reg") %>
<!--FORMULARIO INGRESO-->
    <form action="/perfil-usuario" method="get" class="form-a">
      <div>
        <label class="form-salut">¡Hola!</label>
      </div>
      <div>
        <label class="form-salut">Ingresa tu usuario y contraseña</label>
      </div>
      <div class="form-div">
        <label>Usuario</label>
      </div>
      <div class="form-div">
        <input type="text" name="usuario" />
      </div>
      <div class="form-div">
        <label>Contraseña</label>
      </div>
      <div class="form-div">
        <input type="password" name="password" />
      </div>
      <div>
        <button class="boton-enter" type="submit">INGRESAR</button>
      </div>
      <a  href="/register">Si no tenes cuenta, Creala aqui</a>
    </form>
<!--FOOTER -->
<%- include("template/footer") %>