<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER-Bicis 7G</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles-register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9440e8cf98.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--HEADER -->
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo7g2.jpg" class="logo" />
      </div>
      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>
      </nav>
    </header>
    <main>
      <section id="registro">
        <h2>Resgístrate:</h2>
        <form action="/" method="post">
          <div class="field">
            <label for="nombreApellido">Nombre y apellido:</label>
            <input type="text" required minlength="2" placeholder="Nombre Apellido" name="nombreApellido" id="nombreApellido">
          </div>
          <div class="field">
            <label for="usuario">Nombre de usuario:</label>
            <input type="text" required minlength="2" placeholder="Nombre de usuario" name="usuario" id="usuario">
          </div>
          <div class="field">
            <label for="fechaNacimiento">Fecha de nacimiento:</label>
            <input type="date" required placeholder="Fecha de nacimiento" name="fechaNacimiento" id="fechaNacimiento">
          </div>
          <div class="field">
            <label for="domicilio">Domicilio:</label>
            <input type="text" required minlength="2" placeholder="Domicilio" name="domicilio" id="domicilio">
          </div>
          <div class="field">
            <label for="contrasena">Contraseña:</label>
            <input type="password" required minlength="4" placeholder="Contraseña" name="contrasena" id="contrasena">
            <span class="error-message">Este campo es requerido. Ingrese al menos cuatro carácteres.</span>
          </div>
          <div class="field">
            <label for="confirmaContrasena">Confirmar contraseña:</label>
            <input type="password" required minlength="4" placeholder="Confirmar contraseña" name="confirmaContrasena" id="confirmaContrasena">
            <span class="error-message">Este campo es requerido. Ingrese al menos cuatro carácteres.</span>
          </div>
          <nav>
            <input type="submit" id="submit-register">
            <input type="reset" id="reset-register">
          </nav>
        </form>
      </section>
    </main>
<!--FOOTER -->
<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-content">
      <h3 class="footer-title">Informacion</h3>

      <ul class="footer-list">
        <li>Calle falsa 123</li>
        <li>Springfield</li>
        <li>1234-5678</li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-title">Sobre Nosotros</h3>
      <ul class="footer-links">
        <li>
          <a href="#" class="footer-link">Soporte</a>
        </li>
        <li>
          <a href="#" class="footer-link">Soporte de cliente</a>
        </li>
        <li>
          <a href="#" class="footer-link">Sobre nosotros</a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-title">Productos</h3>

      <ul class="footer-links">
        <li>
          <a href="#" class="footer-link">Bicicletas</a>
        </li>
        <li>
          <a href="#" class="footer-link">Mountain bikes</a>
        </li>
        <li>
          <a href="#" class="footer-link">Electricas</a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-title">Social</h3>
      <ul class="footer-social">
        <a href="https://www.facebook.com/" class="footer-social-link">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://twitter.com/" class="footer-social-link">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" class="footer-social-link">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </ul>
    </div>
  </div>
</footer>
  </body>
</html>
