<header class="main-header">
  <div class="main-header-top-bar">
    <a href="/"><img src="/img/logo7g2.jpg" class="logo" /></a>
  
    <nav Class="center-navbar">
      <ul class="center-list">
        <li><a href="#">BICICLETAS</a></li>
        <li><a href="#">ACCESORIOS</a></li>
        <li><a href="#">SERVICIOS</a></li> 
        <li><a href="/products">ADMINISTRAR</a></li> 
      </ul>
    </nav>
    <nav Class="right-navbar">
      <ul class="right-list">
        <li>
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li>
          <a href="/productcart"
            ><i class="fa-sharp fa-solid fa-basket-shopping"></i
          ></a>
        </li>
        <li>
          <% if(locals.usuario) { %>  
              <a href="/logout"><%= usuario.name %><i class="fas fa-sign-out-alt"></i><br>Cerrar sesión</a>
           
          <% } else { %>  
              <a href="/login"><i class="fas fa-sign-in-alt"></i>Iniciar Sesion</a>
              <br>
              <a href="/register">Registrarse</i></a>
          <%}%>  
        </li>
      </ul>
    </nav>
  </div>
</header>
